.intro {
  // @extend %wrapper;
  // padding-top: 200px;

  // position: fixed;
  position: relative;
  // z-index: 1000;
  min-height: 100vh;
  width: 100%;
  @extend %flex-c;
  flex-direction: column;
  // background: $bgGreen;
  // background: #fff;
  background: url('../img/intro.jpg') 20%/cover no-repeat fixed;
  // background: rgba(#ffffff, 0.8), url('../img/intro.jpg') 20%/cover no-repeat fixed;

  &__overlay {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    height: 100%;
    width: 100%;
    background: rgba(#000000, 0.3);
  }

  &__title {
    color: $white;

  }

  &__btn {
    @extend %btn;
    margin: 60px auto;
  }

  &_hidden {
    transition: transform 0.5s ease-in;
    transform-origin: 50% 0;
    transform: translateY(-100%);
  }

  .arrow {
    @extend %svg_md_keyboard_arrow_down;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
  }

}
