.form {
  @extend %wrapper;
  @extend %margin-v;

  form {
    label {
      display: flex;
      justify-content: space-between;

      span {
        flex: 0 0 100px;
        text-align: left;
      }

      input {
        flex: 1 0;
        margin-left: 0.5em;
      }
    }

    button {
      margin: 0 auto;
    }

  }
}
