AddDefaultCharset UTF-8

# Запрет выдачи листинга каталога
Options -Indexes

ErrorDocument 404 /html/error404.html
ErrorDocument 403 /html/error403.html
ErrorDocument 401 /html/error401.html
ErrorDocument 500 /html/error500.html

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} admin [NC]
RewriteRule admin admin/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*) index.php
p;okk
